<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="triangle" class="org.test.demo.Triangle">
		<property name="type" value="Equilateral" />
		<property name="height" value="20" />
	</bean>

	<bean id="circle" class="org.test.demo.Circle">
		<constructor-arg value="10" />
		<constructor-arg value="round" />
	</bean>

</beans>